.container {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .headingSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .innerText {
      margin-top: 20px;
      max-width: 880px;
      width: 100%;
    }
  }

  .cardSection {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto; /* Two rows with automatic height */
    gap: 20px; /* Gap between grid items */
    // max-width: 880px;
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 1300px) {
  .container {
    .cardSection {
      margin-top: 45px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
      row-gap: 40px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 16px;

    .cardSection {
      width: 100vw;
      padding-left: 20px;
      padding-right: 50px;
      overflow-x: scroll;
      margin-top: 45px;
      display: flex;
    }

    .cardSection::-webkit-scrollbar {
      display: none;
    }

    .innerText {
      padding-left: 16px;
      padding-right: 16px;
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-align: center;
    }
  }
}
