.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  padding-bottom: 5px;

  .headingSection {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .innerText {
      margin-top: 20px;
      max-width: 880px;
      width: 100%;
    }
  }
  .talenCardSection {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 1300px) {
  .container {
    .talenCardSection {
      margin-top: 45px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
      row-gap: 40px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 16px;

    .talenCardSection {
      width: 100vw;
      overflow-x: scroll;
      margin-top: 45px;
      display: flex;
    }

    .talenCardSection::-webkit-scrollbar {
      display: none;
    }

    .innerText {
      font-family: Outfit;
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-align: center;
    }
  }
}
